.savers p{
  
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 24px;


}

.saversdiv{
    margin-top: 3px;
    border-radius: 8px;
    width: 15rem;
    text-align: center;
    align-content: center;
    
}
.saversdiv :hover{
    cursor: pointer;
    padding: 2px;
}
p{
    color: black;
}