/* #footer {
  background: #0b223f;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  font-style:Poppins
}
body{
    font-style:Poppins !important;

}
.div1 {
  display: flex;
  justify-content: space-between;
  color: white;
  background: #0b223f;
}
.div1b a {
  margin: 5px;
}

.div2 {
  margin-top: 30px;
}
.footertextp {
  color: #74a4e2;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 137px;
  height: 22px;
  margin-top: 6px;
}
.storeimgbtn:hover {
  cursor: pointer;
}
.storeimgbtn {
  height: 39.1px;
  width: 110px;
}
.col {
}
.footerbtn {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-right: -40px;
}
.footerbtn a {
  margin: 60px;
}

.footersearch {
  margin-left: 117px;
  margin-top: 20px;
}
.search-wrapper {
  width: 400px;
}
.search-bar {
  width: 169px;
}

.footertextp p {
  margin-left: 60px !important;
  margin-bottom: 10px !important;
}
.copyright {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
}
.copyrighttext {
  margin-top: 6px !important;
  margin-left: 5px;
}
.paymenticon {
  margin-left: 10px;
} */
